
*.db
*.vsidx
*.lock
build/.vs/Plane_game/v17/.suo
*.ipch
*.vcxproj
*.filters
*.user
*.cmake
*.bin
*.c
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.exe
*.obj
*.recipe
*.tlog
*.log
build/CMakeFiles/3.23.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.23.1/VCTargetsPath.txt
*.rule
*.check_cache
*.stamp
*.depend
*.list
build/CMakeFiles/TargetDirectories.txt
*.pdb
*.ilk
build/Plane_game.dir/Debug/Plane_game.vcxproj.FileListAbsolute.txt
*.sln
